<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/com.yuejin66.spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/com.yuejin66.spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/com.yuejin66.spring-aop-3.0.xsd">
<context:component-scan base-package="com.yuejin66"/>

<aop:aspectj-autoproxy/>

<bean id="sqlSessionFactory" class="com.yuejin66.mybatis.spring.SqlSessionFactoryBean">
    <property name="resource" value="com.yuejin66.mybatis-config.xml"/>
</bean>

<bean id="mapperScannerConfigurer" class="com.yuejin66.mybatis.spring.MapperScannerConfigurer">
    <!-- 注入sqlSessionFactory -->
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    <!-- 给出需要扫描Dao接口包 -->
    <property name="basePackage" value="com.yuejin66.com.yuejin66.mybatis.mapper"/>
</bean>

</beans>
