<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuejin66.mybatis.mapper.UserMapper">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.yuejin66.mybatis.po.User">
        SELECT id, userId, userNickName, userHead, userPassword, createTime
        FROM t_user
        where id = #{id}
    </select>

    <select id="queryUserInfo" parameterType="com.yuejin66.mybatis.po.User" resultType="com.yuejin66.mybatis.po.User">
        SELECT id, userId, userNickName, userHead, userPassword, createTime, updateTime
        FROM t_user
        where userNickName = #{userNickName}
    </select>

</mapper>